footer {
    background-color: black; /* Cor de fundo do rodapé */
    padding: 10px; /* Espaçamento interno */
    color: #fff; /* Cor do texto */
    text-align: center; /* texto centralizado */

}


@media (max-width: 768px) {
    .cards {
      flex-direction: column;
    }
    .fontbold{
        color: black !important;
    }
  }

span.fontbold {
    color: white;
}

body.cadastro {
    background-image: url('img/fundoComida3.jpg') ;
    background-size: 100%;
}
