footer{
    background-color: black;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    color: whitesmoke;
}

@media (max-width: 768px) {
    .cards {
      flex-direction: column;
    }
    .fontbold{
        color: black !important;
    }
  }

span.fontbold {
    color: white;
}

body.cadastro {
    background-image: url('img/fundoComida3.jpg') ;
    background-size: 100%;
}
